@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --very-dark-blue: hsl(233, 47%, 7%); /*main background*/
    --dark-desaturated-blue: hsl(244, 38%, 16%); /*card background*/
    --soft-violet: hsl(277, 64%, 61%); /*accent*/
    --white: hsl(0, 0%, 100%); /*main heading, stats*/
    --slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75); /*main paragraph*/
    --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6); /*stat headings*/
}
.mobile {
    display: none;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--very-dark-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1100px;
    height: 442px;
    margin:  auto 100px;
    display: flex;
    flex-direction: row;
}
.card-container {
    width: 100%;
    background-color: var(--dark-desaturated-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.text-container {
    width: 100%;
    color: var(--white);
}
.img-container {
    width: 100%;
}
.img-container__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    filter:  grayscale(90%) brightness(35%) sepia(100%) hue-rotate(-125deg) saturate(550%) contrast(0.8);
}

.text-container__h1,.text-container__p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32.5px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}


.text-container__h1__span {
    color: var(--soft-violet);
}
.text-container__p {
    font-weight: 400;
    font-size: 14px;
    color: var(--slightly-transparent-white-paragraph);
    margin-top: 25px;
    line-height: 25px;
}
.text-container__stat{
    font-family: 'Lexend Deca', sans-serif;  
    color: var(--slightly-transparent-white-stat);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    margin: 70px;
    margin-right: 160px;
    justify-content: space-between;
}
.text-container__stat__item__p {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 25px;
}
.text-container__stat__item__p__span {
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
}
.text-container__br-mobile {
    display: none;
}
.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
}
.footer__attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 3%;
    color: var(--white);
}

.footer__attribution a { 
    color: var(--soft-violet) 
}

@media screen and (max-width: 768px){
    .desktop {
        display: none;
    }
    .mobile{
        display: inherit;
    }
    body {
        height: 120%;
    }
    .main {
        width: 100%;
        height: 90%;
        margin-top: 10%;
        margin-bottom: 20%;  
    }
    .footer {
        margin-bottom: -80px;
    }
    .card-container {
        flex-direction: column-reverse;
    }

    .text-container {
        width: 100%;
        height: 70%;
    }

    .img-container{
        width: 100%;
        height: 30%;
    }
    .img-container__img{
        object-position: top;       
    }
    .text-container__br {
        display: none;
    }

    .text-container__h1,.text-container__p {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    .text-container__br-mobile {
        display: inherit;
    }
    .text-container__p {
        margin-top: 30px;
    }
    .text-container__h1 {
        font-size: 30px;
    }

    .text-container__stat{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
        line-height: 30px
    }
    .text-container__stat__item__p {
        padding: 10px;
    }
}
